<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<h3 align="center">User</h3>


<table class="centered">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Patronymic</th>
        <th>age</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.patronymic}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>